{% load i18n cache sekizai_tags  %}

{% for addon in addons|dictsort:"sort_id" %}
  {% if addon.RenderMedia.css %}
    {% addtoblock "css" %}
      {% for media, url in addon.RenderMedia.css.items %}
        <link rel="stylesheet" href="{{ STATIC_URL }}{{ url }}" />
      {% endfor %}
    {% endaddtoblock %}
  {% endif %}
  {% if addon.RenderMedia.js %}
    {% addtoblock "js" %}
      {% for url in addon.RenderMedia.js %}
        <script type="text/javascript" src="{{ STATIC_URL }}{{ url }}"></script>
      {% endfor %}
    {% endaddtoblock %}
  {% endif %}
  {% addtoblock "leftnav" %}
  {% for nav in addon.navs %}
    {% include "bgframework/navbar.html" %}
  {% endfor %}
  {% endaddtoblock %}
{% endfor %}
