{% extends "bgframework/base.html" %}
{% load static i18n bootstrap %}

{% comment %}
子模板需要提供的 context:
    form
子模板需要写入的 block:
    maintitle
    subtitle
    nav_name
{% endcomment %}

{% block content %}
  <div class="page-content">
    <div class="page-header">
      <h1>{% block maintitle %}{% endblock %}
        <small>
          <i class="fa fa-angle-double-right"></i>
          {% block subtitle %}{% endblock %}
        </small>
      </h1>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form action="." method="POST" class="form-horizontal">
          {{ form.media }}
          {% csrf_token %}
          {{form|bootstrap_horizontal:"col-sm-3 no-padding-right"}}
          <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-ok bigger-110"></i>{% trans "提交" %}
              </button>
              &nbsp; &nbsp; &nbsp;
              <button type="reset" class="btn btn-yellow">
                <i class="fa fa-undo bigger-110"></i>{% trans "重置" %}
              </button>
              &nbsp; &nbsp; &nbsp;
              <a href="javascript:history.go(-1);" class="btn btn-pink">
                <i class="fa fa-arrow-left bigger-110"></i>
                {% trans "返回" %}
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    $('#nav-{% block nav_name %}{% endblock %}').addClass('active');
  </script>
{% endblock %}
