{% if is_paginated %}
  <ul class="pagination">
  {% if page_obj.has_previous %}
    <li><a href="#" data-num="1"><i class="fa fa-angle-double-left"></i></a></li>
    <li><a href="#" data-num="{{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
  {% endif %}
    <li class="active"><span>{{page_obj.number}}</span></li>
  {% if page_obj.has_next %}
    <li><a href="#" data-num="{{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
    <li><a href="#" data-num="{{page_obj.paginator.num_pages}}"><i class="fa fa-angle-double-right"></i></a></li>
  {% else %}
    <li class="disabled"><a href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
    <li class="disabled"><a href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>
  {% endif %}
    <li><span style='color:#aaa;'>共{{page_obj.paginator.count}}条，{{page_obj.paginator.num_pages}}页</span></li>
  </ul>
{% endif %}
